<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.github.runner.launch</string>
        <key>Program</key>
        <string>INSTALL_DIR/github-workspace/run.sh</string>
        <key>RunAtLoad</key>
        <true/>
        <key>EnvironmentVariables</key>
        <dict>
                <key>PATH</key>
                <string>/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
                <key>ACTIONS_RUNNER_HOOK_JOB_STARTED</key>
                <string>INSTALL_DIR/ci/scripts/github-hookups/pre-job.sh</string>
                <key>ACTIONS_RUNNER_HOOK_JOB_COMPLETED</key>
                <string>INSTALL_DIR/ci/scripts/github-hookups/post-job.sh</string>
        </dict>
    </dict>
</plist>